/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
$theme_dir: '/content/themes/yeopress/';
$images_dir: '/content/themes/yeopress/images/';

/* Colors */
$color_body_copy: #3c3c3b;
$color_link: #0090d7;
$color_link_hover: #e40134;
$color_opposite: #fff;

$blue: #0096e3;

$brown_lightest: #ccb917;
$brown_lighter: #b7a615;
$brown: #a49513;
$brown_darker: #938611;
$brown_darkest: #84780f;

$grey_light: #eeeeee;
$grey: #888888;
$black:#333333;

/* Font Sizes */
$size_base: 1em;

$logo_shape_grey : #464545;
$logo_shape_red  : #e40134;
$logo_shape_blue : #0090d7;

