/* ==========================================================================
	Imports
/* ========================================================================== */

@import 'variables';
@import 'foundation-sites';
@import 'slick';
@import 'slick-theme';
@import 'components';
@import 'animations';
@import 'mobile-menu';


@import url("//fonts.googleapis.com/css?family=Lato:400,700,900");

/* ==========================================================================
	Foundation - Overrides
/* ========================================================================== */

.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.off-canvas{
    height:100%;
}

.off-canvas.position-left{
    background:$brown_lightest;
}

/* ==========================================================================
	Base
/* ========================================================================== */


*{
    outline:none;
    &:before{
        outline:none;
    }
    &:after{
        outline:none;
    }
}

span{

}
